// --- VARIABLES ------------------
$gray: #333333;
$white: #ffffff;
$logo: url('/images/logo-dark.png');
$abril: 'Abril Fatface', 'Helvetica', 'Arial';
$vollkorn: 'Vollkorn', serif;

// --- SETUP ----------------------
html, body {
    margin: 0;
    padding: 0;
    color: $gray;
}

// --- NAVIGATION -----------------
.nav {
    position: relative;
    height: 100px;
    .item {
        position: inherit;
        display: inline-block;
        margin-top: 40px;
        height: 60px;
    }
    .logo {
        width: 190px;
        background-image: $logo;
        background-size: 190px 60px;
    }
    .button {
        background-color: $gray;
        border-radius: 4px;
        height: 60px;
        padding: 0 16px;
        p {
            display: inline-block;
            position: relative;
            top: 8px;
            font-size: 2em;
            color: $white;
        }
        .symbol {
            position: relative;
            top: 12px;
            left: -4px;
        }
    }
}

// --- TYPOGRAPHY -----------------
h1, h2, h3, h4, h5, h6, p, a, span {
    margin: 0;
    padding: 0;
    color: inherit;
}
h1 {
    font-family: $abril;
    font-size: 3.75em;
    font-weight: normal;
}
h2, h3, h4, h5, h6, p, a {
    font-family: $vollkorn;
    font-weight: 400;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2.25em;
    font-style: italic;
}
h4 {
    font-size: 1.875em;
}
h5 {
    font-size: 1.5em;
    font-style: italic;
}
h6 {
    font-size: 1.25em;
    & .italic {
        font-style: italic;
    }
    & .bold {
        font-weight: bold;
    }
}
p {
    font-size: 1em;
    & .italic {
        font-style: italic;
    }
    & .bold {
        font-weight: bold;
    }
}
a {
    font-size: 1em;
    text-decoration: underline;
    & .italic {
        font-style: italic;
    }
    & .bold {
        font-weight: bold;
    }
}
.t-left {
    text-align: left;
}
.t-center {
    text-align: center;
}
.t-right {
    text-align: right;
}

// --- MISCELLANEOUS --------------
.break-sm {
    width: 100%;
    height: 20px;
}
.break-md {
    width: 100%;
    height: 40px;
}
.break-lg {
    width: 100%;
    height: 80px;
}

