html, body {
  margin: 0;
  padding: 0;
  color: #333333; }

.nav {
  position: relative;
  height: 100px; }
  .nav .item {
    position: inherit;
    display: inline-block;
    margin-top: 40px;
    height: 60px; }
  .nav .logo {
    width: 190px;
    background-image: url("/images/logo-dark.png");
    background-size: 190px 60px; }
  .nav .button {
    background-color: #333333;
    border-radius: 4px;
    height: 60px;
    padding: 0 16px; }
    .nav .button p {
      display: inline-block;
      position: relative;
      top: 8px;
      font-size: 2em;
      color: white; }
    .nav .button .symbol {
      position: relative;
      top: 12px;
      left: -4px; }

h1, h2, h3, h4, h5, h6, p, a, span {
  margin: 0;
  padding: 0;
  color: inherit; }

h1 {
  font-family: "Abril Fatface", "Helvetica", "Arial";
  font-size: 3.75em;
  font-weight: normal; }

h2, h3, h4, h5, h6, p, a {
  font-family: "Vollkorn", serif;
  font-weight: 400; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2.25em;
  font-style: italic; }

h4 {
  font-size: 1.875em; }

h5 {
  font-size: 1.5em;
  font-style: italic; }

h6 {
  font-size: 1.25em; }
  h6 .italic {
    font-style: italic; }
  h6 .bold {
    font-weight: bold; }

p {
  font-size: 1em; }
  p .italic {
    font-style: italic; }
  p .bold {
    font-weight: bold; }

a {
  font-size: 1em;
  text-decoration: underline; }
  a .italic {
    font-style: italic; }
  a .bold {
    font-weight: bold; }

.t-left {
  text-align: left; }

.t-center {
  text-align: center; }

.t-right {
  text-align: right; }

.break-sm {
  width: 100%;
  height: 20px; }

.break-md {
  width: 100%;
  height: 40px; }

.break-lg {
  width: 100%;
  height: 80px; }
