@import "bourbon/bourbon";

// Greens
$turquoise: #1ABC9C;
$green-sea: #16A085;
$emerald: #2ECC71;
$nephritis: #27AE60;

// Blues
$peter-river: #3498DB;
$belize-hole: #2980B9;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;

// Purples
$amethyst: #9B59B6;
$wisteria: #8E44AD;

// Yellows
$sunflower: #F1C40F;

// Oranges
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;

// Reds
$alizarin: #E74C3C;
$pomegranate: #C0392B;

// Grays
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;

// Purdue
$black: #000000;
$old-gold: #A3792C;
$new-gold: #E3AE24;
$dark-gray: #746C66;
$gray: #A7A9AC;
$light-gray: #D1D3D4;


html {
    position: relative;
}
body {
    position: relative;
    height: 100%;
    padding-top: 5em;
    background-image: url('../images/bg-crossword.png');
}


body .container.offset-top {
    margin-top: 2em;
}

a {
    text-decoration: none;
    color: inherit;
}


// NAVBAR -----------------------------------------------------
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    border-radius: 0;
    border: none;
    background-color: $gray;
    height: 5em;
    z-index: 300;

    .nav-container {
        position: relative;
        height: 100%;
    }
    
    .topbar {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 4px;
        animation: purdueLoop 15s infinite;
    }

    .navbar-toggle {
        border-radius: 0;
        height: 5em;
        width: 5em;
        margin: 0;
        border: none;
        padding: 1.5em;
        background-color: tint($silver, 50%) !important;

        &:hover {
            background-color: $silver !important;
        }

        .icon-bar {
            width: 2em;
            height: 0.25em;
            &:nth-child(n + 3) {
                margin-top: 0.25em;
            }
        }

        .fa-bars {
            animation: enterTitle linear 0.25s;
        }

    }

    .navbar-brand {
        position: relative;
        font-weight: 900;
        font-size: 2.5em;
        color: $midnight-blue;
        line-height: 0;
        width: 5em;
        height: 2em;
        padding: 0;
        background-color: $old-gold;
        animation: purdueLoop 15s infinite;
        .light {
            font-weight: 100;
        }
        img {
            position: relative;
            margin: 0.5em;
            width: 4em;
            transform: scale3d(1, 1, 1);
            // animation: pulseLogo 2s linear infinite;
        }
        &.animated-entrance {
            img {
                animation: enterTitle linear 0.5s;
            }
        }
    }

    .navbar-collapse {
        @media screen and (max-height: 767px) {
            border: none;
        }

    }

    .navbar-nav {
        padding-top: 0.8em;
        min-height: 5em;
        @media screen and (max-height: 767px) {
            margin: 0 -15px;
            padding: 0;
        }

        > .open > a {
            background-color: tint($silver, 50%) !important;
            @media screen and (max-height: 767px) {
                background: none !important;
            }
        }
    

        > li {
            height: 3em;
            font-size: 1em;
            font-weight: 400;
            height: 100%;
            box-sizing: border-box;
            background: $gray;

            @media screen and (min-width: 768px) {
                height: 5em;
                padding: 1em 0;
                &:nth-child(1) {
                    opacity: 0;
                    animation: enterTitle 0.25s linear 0.25s forwards;
                }
                &:nth-child(2) {
                    opacity: 0;
                    animation: enterTitle 0.5s linear 0.25s forwards;
                }
                &:nth-child(3) {
                    opacity: 0;
                    animation: enterTitle 0.75s linear 0.25s forwards;
                }
                &:nth-child(4) {
                    opacity: 0;
                    animation: enterTitle 1s linear 0.25s forwards;
                }
                &:nth-child(5) {
                    opacity: 0;
                    animation: enterTitle 1.25s linear 0.25s forwards;
                }
                &:nth-child(6) {
                    opacity: 0;
                    animation: enterTitle 1.5s linear 0.25s forwards;
                }
            }
            
            a {
                color: white;
                background: none;
                &:focus {
                    color: white;
                }
            }

            .dropdown-menu {
                border: none;
                background-color: tint($silver, 50%);
                padding: 0;
                border-radius: 0;

                li {
                    padding: 0.5em 0;
                    border-bottom: 1px solid $gray;


                    &:hover {
                        background-color: $silver;
                        a {
                            color: $black;
                        }
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                    a {
                        color: $black;
                        background: none;
                        &:hover {
                            background: none;
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}

@keyframes scaleUpIcon {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes gradientLoop {
    0% {
        background: $peter-river;
    }
    17% {
        background: $emerald;
    }
    33% {
        background: $sunflower;
    }
    50% {
        background: $carrot;
    }
    67% {
        background: $alizarin;
    }
    83% {
        background: $amethyst;
    }
    100% {
        background: $peter-river;
    }
}

@keyframes purdueLoop {
    0% {
        background: $old-gold;
    }
    50% {
        background: $new-gold;
    }
    100% {
        background: $old-gold;
    }
}
@keyframes purdueFillLoop {
    0% {
        fill: $old-gold;
    }
    50% {
        fill: $new-gold;
    }
    100% {
        fill: $old-gold;
    }
}
@keyframes purdueColorLoop {
    0% {
        color: $old-gold;
    }
    50% {
        color: $new-gold;
    }
    100% {
        color: $old-gold;
    }
}

@keyframes zoomEntrance {
    0% {
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }
    80% {
        transform: scale3d(1.2, 1.2, 1.2);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
@keyframes enterTitle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulseLogo {
    0% {
        transform: rotate(0deg) scale3d(1, 1, 1);
    }

    100% {
        transform: rotate(360deg) scale3d(1, 1, 1);
    }
}

// ------------------------------------------------------------


// ROW --------------------------------------------------------

.row {
    margin-bottom: 2em;
}

// ------------------------------------------------------------



// PULLOUT QUOTE ----------------------------------------------

.pullout-quote {
    font-size: 1.6em;
    font-weight: 100;

    .quote {
        position: relative;
        display: block;
        font-style: italic;
        @include clearfix;
        
        &::before {
            content: "\201C";
            font-weight: 900;
            font-size: 5em;
            animation: tintedGradientLoop 60s infinite;
            line-height: 0;
            position: absolute;
            top: 0.375em;
            left: -0.5em;
            z-index: -10;
        }
        &::after {
            content: "\201D";
            font-weight: 900;
            font-size: 5em;
            animation: tintedGradientLoop 60s infinite;
            position: absolute;
            bottom: -0.75em;
            right: 0;
            z-index: -10;
        }
    }
    .author {
        display: block;
        text-align: right;
        margin-top: 1em;
        font-weight: 400;
        color: $asbestos;
        margin-right: 5%;
        .title {
            font-weight: 100;
        }
    }
}

@keyframes tintedGradientLoop {
    0% {
        color: tint($peter-river, 75%);
    }
    17% {
        color: tint($emerald, 75%);
    }
    33% {
        color: tint($sunflower, 75%);
    }
    50% {
        color: tint($carrot, 75%);
    }
    67% {
        color: tint($alizarin, 75%);
    }
    83% {
        color: tint($amethyst, 75%);
    }
    100% {
        color: tint($peter-river, 75%);
    }
}

// ------------------------------------------------------------



// ARTICLE ----------------------------------------------------

.article {
    height: 20em;
    background-color: white;
    border: 1px solid $clouds;
    @include box-sizing(border-box);

    &:hover {
        box-shadow: 0 0 1em $clouds;

        .content a h1 {
            text-decoration: underline;
        }
    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        animation: purdueLoop 15s infinite;
    }

    .thumb {
        width: 100%;
        margin-top: 1em;

        img {
            width: 100%;
        }
    }

    .content {
        @include box-sizing(border-box);
        padding: 1em;
        padding-top: 0.8em;

        height: 8.2em;

        a h1 {
            margin: 0;
            font-size: 1.4em;
            text-decoration: none;
            color: black;
        }
        h6 {
            color: $silver;
            font-weight: 400;
            margin-top: 0.25em;
            margin-bottom: 0.25em;
            font-style: italic;
        }
    }
}

// ------------------------------------------------------------



// WORDS ------------------------------------------------------

.words {
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: white;
    border-top: 1px solid $clouds;
    border-bottom: 1px solid $clouds;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        background-color: rgba(20,20,20,0.75);
        background-image: url('../images/programmingsuccess.svg');
        background-size: auto 2.5em;
        background-repeat: no-repeat;
        background-position: 2em 2em;
    }

    &.hero {
        border: none;
        &.hero1 {
            background-image: url('../images/homehero1.jpg');
        }
        &.hero2 {
            background-image: url('../images/lines.png');
        }
        background-size: cover;
        background-attachment: fixed;


        .container {
            position: relative;
            top: 50%;
            transform: translate3d(0, -50%, 0);

            p {
                display: block;
                position: relative;
                width: 100%;
                font-size: 2em;
                text-align: center;
                color: white;

                span {
                    color: $old-gold;
                    animation: purdueColorLoop 15s infinite;
                }
                
                svg {
                    path {
                        animation: purdueFill 15s infinite;
                    }
                    margin-top: 1em;
                    height: 1.5em;
                }
            }

        }
    }
}

// ------------------------------------------------------------

@keyframes purdueFill {
    0% {
        fill: $old-gold;
    }
    50% {
        fill: $new-gold;
    }
    100% {
        fill: $old-gold;
    }
}

// GRAPHS -----------------------------------------------------

.full-graph {
    width: 100%;
    height: 20em;
    margin-bottom: 4em;

    h1 {
        text-align: center;
        color: $concrete;
        font-size: 2em;
    }

    canvas {
        width: 100%;
        height: 100%;
    }
}

// ------------------------------------------------------------


// TIMELINE ---------------------------------------------------

.timeline {

    h1 {
        text-align: center;
        font-weight: 400;
        font-size: 2em;
        color: $concrete;
    }

    ul {
        position: relative;
        list-style: none;
        text-align: left;
        padding-left: 2em;
        @include box-sizing(border-box);
        margin: 0;
        margin-left: 30%;

        &::before {
            position: absolute;
            content: "";
            width: 4px;
            height: 100%;
            left: 0;
            animation: purdueLoop 15s infinite;
        }

        li.date {
            position: absolute;
            right: 110%;

            &:first-child {
                margin-top: 1em;
            }
        }

        .entry {
            padding-bottom: 1em;
            margin-left: 0;
            transition: all 0.25s ease;

            &:nth-child(2) {
                padding-top: 1em;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                position: absolute;
                content: "";
                width: 1em;
                height: 1em;
                border-radius: 1000px;
                border: 2px solid white;
                left: -0.35em;
                margin-top: 0.2em;
                animation: purdueLoop 15s infinite;
                transform: scale3d(1,1,1);
                transition: all 0.25s ease;
            }

            &:hover {
                margin-left: -0.5em;
                transition: all 0.25s ease;
                cursor: pointer;

                &::before {
                    transform: scale3d(1.4, 1.4, 1.4);
                    transition: all 0.25s ease;
                }
            }
        }
    }
}

// ------------------------------------------------------------


// FOOTER -----------------------------------------------------

.footer {
    background-color: white;
    height: 9em;
    width: 100%;
    border-top: 1px solid $clouds;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    @include box-sizing(border-box);

    .light {
        font-weight: 100;
        font-size: 2em;
    }
    img {
        position: relative;
        top: -6px;
        height: 3em;
        margin-right: 0.25em;
    }
    p {
        font-size: 0.8em;
        margin-bottom: 0;
    }
}

// ------------------------------------------------------------



// ARTICLE PAGE -----------------------------------------------

.article-header {
    position: relative;
    height: 20em;
    width: 100%;
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 20em;
        background-color: rgba(0,0,0,0.6);
        z-index: -50;
        -webkit-backface-visibility: hidden;
    }

    img {
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translate3d(0,-50%,0);
        z-index: -100;

    }
    h1 {
        position: absolute;
        bottom: 0;
        color: $clouds;
    }
}

body > .container.article-content {
    margin-top: 2em;
    margin-bottom: 4em;
    p {

        &.italic {
            margin-left: 1em;
            margin-right: 1em;
            background-color: white;
            border: 1px solid $clouds;
            padding: 1em;
            font-size: 1.2em;
            font-style: italic;
        }
    }
}

// ------------------------------------------------------------