/*
Blue: #1D8281;
Green: #44BF87;
Yellow: #FBD258;
Orange: #F29A3F;
Red: #DB634F;
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "brandon-grotesque";
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
















body {
    background-color: #ECF0F1;
    width: 100%;
}

h1 {
    letter-spacing: 0.5em;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 1.25em;
    font-style: normal;
    font-weight: 300;
    text-align: center;
}

.container {
    position: relative;
    width: 40em;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10em 0 0 0;
}
.container.open {
    padding: 2em 0 0 0;
    transi
    -webkit-transition: all .25s cubic-bezier(.17,.67,.56,1);
       -moz-transition: all .25s cubic-bezier(.17,.67,.56,1);
        -ms-transition: all .25s cubic-bezier(.17,.67,.56,1);
         -o-transition: all .25s cubic-bezier(.17,.67,.56,1);
            transition: all .25s cubic-bezier(.17,.67,.56,1);
}




















/* HEADER */

.container .header {
    position: relative;
    width: 100%;
    height: 5em;
}
.container .header h1 {
    text-align: center;
    color: black;
}
.container .header h2 {
    text-align: center;
    color: black;
}
.container .header span {
    color: black;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.container .header span:hover {
    cursor: pointer;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.container .header #designer:hover {
    color: #F29A3F;
}
.container .header #developer:hover {
    color: #DB634F;
}
.container .header #entrepreneur:hover {
    color: #44BF87;
}
.container .header #designer.hover {
    color: #F29A3F;
}
.container .header #developer.hover {
    color: #DB634F;
}
.container .header #entrepreneur.hover {
    color: #44BF87;
}



















/* CONTENT */

.container .content {
    position: relative;
    width: 100%;
}

.container .content .col-2 {
    position: relative;
    display: inline-block;
    float: left;
    width: 67%;
    height: 5em;
    box-sizing: border-box;
    padding: 0 0.5em;
}

.container .content .col-1 {
    position: relative;
    display: inline-block;
    float: left;
    width: 33%;
    box-sizing: border-box;
    padding: 0 0.5em;
}

.container .content .section {
    position: relative;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    margin-bottom: 1em;
}
.container .content .section h3 {
    font-size: 1.25em;
    border-bottom: 1px solid #BDC3C7;
    margin-bottom: 0.25em;
}











.container .content #experience svg {
    position: relative;
    top: 0.125em;
    width: 5%;
    float: left;
}
.container .content #experience h6 {
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0.5em;
    width: 70%;
    float: left;
}
.container .content #experience .date {
    position: relative;
    font-family: 'vollkorn';
    float: right;
    width: 25%;
    top: 0.325em;
    text-align: right;
}
.container .content .designer .date {
    color: #F29A3F;
}
.container .content .developer .date {
    color: #DB634F;
}
.container .content .entrepreneur .date {
    color: #44BF87;
}
.container .content #experience p {
    font-family: 'vollkorn';
    font-style: italic;
    font-size: 1em;
    line-height: 1em;
    width: 95%;
    margin-left: 5%;
    margin-bottom: 1em;
}

















.container .content #projects svg {
    position: relative;
    top: 0.125em;
    width: 5%;
    float: left;
}
.container .content #projects h6 {
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0.5em;
    width: 70%;
    float: left;
}
.container .content #projects .date {
    position: relative;
    font-family: 'vollkorn';
    float: right;
    width: 25%;
    top: 0.325em;
    text-align: right;
}
.container .content .designer .date {
    color: #F29A3F;
}
.container .content .developer .date {
    color: #DB634F;
}
.container .content .entrepreneur .date {
    color: #44BF87;
}
.container .content #projects p {
    font-family: 'vollkorn';
    font-style: italic;
    font-size: 1em;
    line-height: 1em;
    width: 95%;
    margin-left: 5%;
    margin-bottom: 1em;
}



















.section .skills-ranks {
    position: relative;
    width: 75%;
    margin: 0 0 0 25%;
}
.section .skills-ranks h6 {
    position: relative;
    display: inline-block;
    float: left;
    width: 33%;
    font-size: 0.625em;
    font-weight: 500;
    text-align: center;
}
.section .skills-verticals {
    position: relative;
    width: 75%;
    margin: 0 0 0 25%;
}
.section .skills-verticals .vertical {
    position: relative;
    display: inline-block;
    width: 0;
    height: 27em;
    border-left: 1px dotted #BDC3C7;
    margin: 0 0 0 29%;
}
.section .skills-verticals .vertical:first-child {
    margin: 0 0 0 16.5%;
}
.section .skills {
    position: absolute;
    top: 4em;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.5em;
}
.section .skills .skill {
    height: 2em;
    width: 50%;
    background-color: white;
    border-radius: 0.25em;
    margin-bottom: 0.5em;
    box-sizing: border-box;
    padding: 0.375em 0.5em;
    font-size: 0.75em;
    font-family: 'vollkorn';
    font-style: italic;
}
.section .skills .designer {
    border: 1px solid #F29A3F;
    color: #F29A3F;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.section .skills .designer:hover {
    background-color: #F29A3F;
    color: white;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.section .skills .developer {
    border: 1px solid #DB634F;
    color: #DB634F;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.section .skills .developer:hover {
    background-color: #DB634F;
    color: white;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.section .skills .entrepreneur {
    border: 1px solid #44BF87;
    color: #44BF87;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.section .skills .entrepreneur:hover {
    background-color: #44BF87;
    color: white;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.section .skills .average {
    width: 50%;
}
.section .skills .good {
    width: 75%;
}
.section .skills .great {
    width: 100%;
}


.redblock {
    background-color: red;
    width: 100%;
    height: 100%;
}

























/* FOOTER */
.container .footer {
    width: 100%;
    height: 4em;
}























/* OTHER */

.down-circle {
    position: relative;
    width: 5em;
    height: 5em;
    margin: 0 auto;
    overflow: visible;
}
.down-circle:hover {
    cursor: pointer;
}
.down-circle .circle-down-circle {
    stroke-dasharray: 0 210;
    stroke-dashoffset: -142;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.down-circle .svg-down-circle:hover {
    cursor: pointer;
}
.down-circle .svg-down-circle:hover .circle-down-circle {
    stroke-dasharray: 210 0;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
    -webkit-animation: pulse-circle 0.75s ease infinite;
       -moz-animation: pulse-circle 0.75s ease infinite;
        -ms-animation: pulse-circle 0.75s ease infinite;
         -o-animation: pulse-circle 0.75s ease infinite;
            animation: pulse-circle 0.75s ease infinite;
}

.down-circle .svg-down-circle .circle-back-down-circle, .down-circle .svg-down-circle .circle-down-circle {
    -webkit-transform-origin: 50%;
       -moz-transform-origin: 50%;
        -ms-transform-origin: 50%;
         -o-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}
.down-circle .svg-down-circle:hover .circle-back-down-circle {
    -webkit-animation: pulse-circle 0.75s ease infinite;
       -moz-animation: pulse-circle 0.75s ease infinite;
        -ms-animation: pulse-circle 0.75s ease infinite;
         -o-animation: pulse-circle 0.75s ease infinite;
            animation: pulse-circle 0.75s ease infinite;
}
.down-circle .svg-down-circle .arrow-down-circle {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.down-circle .svg-down-circle:hover .arrow-down-circle {
    -webkit-animation: bounce-arrow 0.75s ease infinite;
       -moz-animation: bounce-arrow 0.75s ease infinite;
        -ms-animation: bounce-arrow 0.75s ease infinite;
         -o-animation: bounce-arrow 0.75s ease infinite;
            animation: bounce-arrow 0.75s ease infinite;
}
.down-circle .svg-down-circle .arrow-down-circle line {
    stroke: #BDC3C7;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.down-circle .svg-down-circle:hover .arrow-down-circle line {
    stroke: black;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
@-webkit-keyframes bounce-arrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.25em);
    }
    100% {
        transform: translateY(0);
    }
}
@-moz-keyframes bounce-arrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.25em);
    }
    100% {
        transform: translateY(0);
    }
}
@-ms-keyframes bounce-arrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.25em);
    }
    100% {
        transform: translateY(0);
    }
}
@-o-keyframes bounce-arrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.25em);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes bounce-arrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.25em);
    }
    100% {
        transform: translateY(0);
    }
}
@-webkit-keyframes pulse-circle {
    0% {
        transform-origin: 50% 50%;
        transform: scale(1);
    }
    50% {
        transform-origin: 50% 50%;
        transform: scale(1.1);
    }
    100% {
        transform-origin: 50% 50%;
        transform: scale(1);
    }
}
@-moz-keyframes pulse-circle {
    0% {
        transform-origin: 50% 50%;
        transform: scale(1);
    }
    50% {
        transform-origin: 50% 50%;
        transform: scale(1.1);
    }
    100% {
        transform-origin: 50% 50%;
        transform: scale(1);
    }
}
@-ms-keyframes pulse-circle {
    0% {
        transform-origin: 50% 50%;
        transform: scale(1);
    }
    50% {
        transform-origin: 50% 50%;
        transform: scale(1.1);
    }
    100% {
        transform-origin: 50% 50%;
        transform: scale(1);
    }
}
@-o-keyframes pulse-circle {
    0% {
        transform-origin: 50% 50%;
        transform: scale(1);
    }
    50% {
        transform-origin: 50% 50%;
        transform: scale(1.1);
    }
    100% {
        transform-origin: 50% 50%;
        transform: scale(1);
    }
}
@keyframes pulse-circle {
    0% {
        transform-origin: 50% 50%;
        transform: scale(1);
    }
    50% {
        transform-origin: 50% 50%;
        transform: scale(1.1);
    }
    100% {
        transform-origin: 50% 50%;
        transform: scale(1);
    }
}




.rule {
    position: relative;
    width: 100%;
    height: 1px;
    border-bottom: 6px dot black;
    margin: 1em 0;
}
