doctype html
head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no")
    title #{title}
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel="stylesheet", href="stylesheets/bootstrap.css")
    link(rel="stylesheet", href="stylesheets/base.css")
    script(src="javascripts/smooth-scroll.js")

body
    .page#page-1.bg-gray
        p page1
    .page#page-2.bg-white
        p page 2
    script(src="javascripts/main.js")