html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    font-size: 18px;
    vertical-align: baseline;
    color: black;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




// VARIABLES
$darkblue: #112f41;
$lightblue: #068587;
$green: #6fb07f;
$yellow: #fcb03c;
$red: #fc5b3f;





h1 {
    font-size: 1.5em;
}
h2 {
    font-style: italic;
}




.nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    #ba {
        display: block;
    }
    h1, h2 {
        font-size: 1em;
    }
    h1 {
        &:nth-child(2) {
            margin-top: 0;
        }
        margin-top: 10px;
        display: block;
        font-weight: 700;
    }
    h2 {
        display: block;
        color: black;
        -webkit-transition: color ease-in-out 0.15s;
        -moz-transition: color ease-in-out 0.15s;
        -ms-transition: color ease-in-out 0.15s;
        -o-transition: color ease-in-out 0.15s;
        transition: color ease-in-out 0.15s;
        &::after {
            content: "\00a0\00a0\00bb";
            opacity: 0;
            -webkit-transition: opacity ease-in-out 0.15s;
            -moz-transition: opacity ease-in-out 0.15s;
            -ms-transition: opacity ease-in-out 0.15s;
            -o-transition: opacity ease-in-out 0.15s;
            transition: opacity ease-in-out 0.15s;
            
        }
        &:hover {
            cursor: pointer;
        }
        &:nth-child(4n+1):hover {
            color: $lightblue;
        }
        &:nth-child(4n+2):hover {
            color: $yellow;
        }
        &:nth-child(4n+3):hover {
            color: $green;
        }
        &:nth-child(4n+4):hover {
            color: $red;
        }

        &:hover::after {
            content: "\00a0\00a0\00bb";
            opacity: 1;
        }
    }
    .benalderfer h2:hover {
        color: black;
    }
}







#ba {
    width: 60px;
}
.ba-svg {
    fill: $darkblue;
    -webkit-animation: cycleColors 10s ease-in-out infinite;
    -moz-animation: cycleColors 10s ease-in-out infinite;
    -ms-animation: cycleColors 10s ease-in-out infinite;
    -o-animation: cycleColors 10s ease-in-out infinite;
    animation: cycleColors 10s ease-in-out infinite;
    
}
@-webkit-keyframes cycleColors {
    0% {fill: $darkblue;}
    20% {fill: $lightblue;}
    40% {fill: $green;}
    60% {fill: $yellow;}
    80% {fill: $red;}
    100% {fill: $darkblue;}
}
@-moz-keyframes cycleColors {
    0% {fill: $darkblue;}
    20% {fill: $lightblue;}
    40% {fill: $green;}
    60% {fill: $yellow;}
    80% {fill: $red;}
    100% {fill: $darkblue;}
}
@-ms-keyframes cycleColors {
    0% {fill: $darkblue;}
    20% {fill: $lightblue;}
    40% {fill: $green;}
    60% {fill: $yellow;}
    80% {fill: $red;}
    100% {fill: $darkblue;}
}
@-o-keyframes cycleColors {
    0% {fill: $darkblue;}
    20% {fill: $lightblue;}
    40% {fill: $green;}
    60% {fill: $yellow;}
    80% {fill: $red;}
    100% {fill: $darkblue;}
}
@keyframes cycleColors {
    0% {fill: $darkblue;}
    20% {fill: $lightblue;}
    40% {fill: $green;}
    60% {fill: $yellow;}
    80% {fill: $red;}
    100% {fill: $darkblue;}
}
